<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
<!--  配置filter过滤器-->
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.devil.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
<!--    要过滤的资源路径-->
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
